# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.ipynb_checkpoints/

# macOS
.DS_Store

# Data & results (do NOT push)
data/
results/

# Model checkpoints / logs
*.pt
*.pth
*.ckpt
*.csv
*.png
*.pdf
